[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
youtube-transcript-api = "*"
shortuuid = "*"
pytest-cov = "*"
pwinput = "*"
prettytable = "*"
azure-ai-contentsafety = "*"
googletrans = "*"
openapi = "*"
oneai = "*"
pytest-mock = "*"
mock-open = "*"
flask = "*"
flask-jwt-extended = "*"
flask-smorest = "*"
passlib = "*"
marshmallow = "*"
python-dotenv = "*"
gunicorn = "*"
requests = "*"
mysql-connector-python = "*"
azure-ai-textanalytics = "==5.3.0"
pymysql = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
